.Rproj.user
.Rhistory
.RData
ARP_ANC_all.pdf
GR_GirlWater.csv
arp_and_anc_vote_model.zip
ordinal_all_results.csv
stan_between_party.pdf
stan_legis.pdf
stan_v_nominate.pdf
stan_within_party.pdf
bawsala
sample_fit
sample_fit.rds
To_Share
To_Share.zip
data/estimate_anc_arp_full.rds
data/estimate_all_ar3_full_rv1.rds
data/estimate_all_2groups_ar_vb.rds
marsad_vote_descriptions.csv
bloc_marginal_effects.jpg
bloc_sankey.png
combined_me.pdf
cov_estimates.jpg
cov_plot.png
discrim_bill.tex
party_over_time_2groups_1mo_ar.png
party_over_time_arp.png
post_carthage_marginal_eff.pdf
Rplots.pdf
data/estimate_all_2groups_ar_vb.rds
data/estimate_all_ar3_full_rv1.rds
